<%#
ProjectName: fesgamelauncher
FileName: template.ejs
Encoding: UTF-8
Author: TwoSquirrels
CreationDate: Aug 20, 2021
--------------------------------------------------------------------------------
Copyright 2021 APC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%><%
  page.top = "../".repeat((page.path.match(/\//g) ?? []).length);
  page.title = `${page.title} - ${site.name}`;
  const extra = {
    path: page.extra ?? "",
    top: "../".repeat(page.extra ? ((page.extra.match(/\//g) ?? []).length + 1) : 0),
  };
  const top = extra.top + page.top;
  const cacheVer = `?ver=${site.version}`;
  const absoluteResources = `${page.url}resources/`;
  const resources = `${top}resources/`;
  const libs = `${top}libs/`;
%><!DOCTYPE html>

<!--
<%= `${site.name} v${site.version}` %>
<%- site.message %>
-->

<html lang="ja">

  <head prefix="og: http://ogp.me/ns#">

    <!-- meta -->
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="ja" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <meta name="Content-Style-Type" content="text/css" />
    <meta name="keywords" content="<%= page.keywords.join() %>" />
    <meta name="description" content="<%= page.description %>" />
    <meta name="author" content="<%= page.author %>" />
    <meta name="theme-color" content="#<%= page.color %>" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#<%= page.color %>" />
    <% if (render.publish) { %>
    <!-- ogp -->
    <meta property="og:url" content="<%= site.url %><%= page.path === "index" ? "" : page.path %>" />
    <meta property="og:type" content="<%= page.type %>" />
    <meta property="og:title" content="<%= page.title %>" />
    <meta property="og:description" content="<%= page.description %>" />
    <meta property="og:site_name" content="<%= site.name %>" />
    <meta property="og:image" content="<%= absoluteResources %>images/thumbnails/<%= page.path %>.png<%= cacheVer %>" />
    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@<%= page.twitter %>" />
    <% } %>
    <!-- main head -->
    <title><%= page.title %></title>
    <link id="favicon" rel="icon" href="<%= absoluteResources %>images/favicon.ico<%= cacheVer %>" type="image/x-icon" />

    <!-- definitions -->
    <script>
      const constants = <%- JSON.stringify({ site, page }) %>;
      const extra = {
        path: "<%= extra.path %>",
        top() {
          return "../".repeat(this.path ? ((this.path.match(/\//g) ?? []).length + 1) : 0);
        },
      };
    </script>

    <!-- stylesheet -->
    <!-- site common -->
    <% site.libs.css.forEach(lib => { %><link rel="stylesheet" href="<%= libs + lib %>" />
    <% }); %><link rel="stylesheet" href="<%= resources %>css/style.css<%= cacheVer %>" />
    <!-- page specific -->
    <% page.libs.css.forEach(lib => { %><link rel="stylesheet" href="<%= libs + lib %>" />
    <% }); %><link rel="stylesheet" href="<%= resources %>css/<%= page.path %>.css<%= cacheVer %>" />

    <!-- javascript -->
    <!-- site common -->
    <% site.libs.js.forEach(lib => { %><script src="<%= libs + lib %>" defer></script>
    <% }); %><script src="<%= resources %>js/script.js<%= cacheVer %>" charset="utf-8" defer></script>
    <!-- page specific -->
    <% page.libs.js.forEach(lib => { %><script src="<%= libs + lib %>" defer></script>
    <% }); %><script src="<%= resources %>js/<%= page.path %>.js<%= cacheVer %>" charset="utf-8" defer></script>

  </head>

  <body>

<%- include("../../" + render.body, { render, site, page, extra, top, resources, cacheVer }) %>
    <script>
      /*! IE Buster v2.0.1 MIT by Qrac */
      !function(e,t){"object"==typeof exports&&"undefined"!=typeof module?module.exports=t():"function"==typeof define&&define.amd?define(t):(e="undefined"!=typeof globalThis?globalThis:e||self).ieBuster=t()}(this,(function(){"use strict";function e(e,t){if(!(e instanceof t))throw new TypeError("Cannot call a class as a function")}function t(e,t){for(var n=0;n<t.length;n++){var r=t[n];r.enumerable=r.enumerable||!1,r.configurable=!0,"value"in r&&(r.writable=!0),Object.defineProperty(e,r.key,r)}}function n(e,t,n){return t in e?Object.defineProperty(e,t,{value:n,enumerable:!0,configurable:!0,writable:!0}):e[t]=n,e}function r(){return(r=Object.assign||function(e){for(var t=1;t<arguments.length;t++){var n=arguments[t];for(var r in n)Object.prototype.hasOwnProperty.call(n,r)&&(e[r]=n[r])}return e}).apply(this,arguments)}function i(e,t){var n=Object.keys(e);if(Object.getOwnPropertySymbols){var r=Object.getOwnPropertySymbols(e);t&&(r=r.filter((function(t){return Object.getOwnPropertyDescriptor(e,t).enumerable}))),n.push.apply(n,r)}return n}function o(e){for(var t=1;t<arguments.length;t++){var r=null!=arguments[t]?arguments[t]:{};t%2?i(Object(r),!0).forEach((function(t){n(e,t,r[t])})):Object.getOwnPropertyDescriptors?Object.defineProperties(e,Object.getOwnPropertyDescriptors(r)):i(Object(r)).forEach((function(t){Object.defineProperty(e,t,Object.getOwnPropertyDescriptor(r,t))}))}return e}var a,l,c,p,u,f;return a=function(){function n(){var t=this,i=arguments.length>0&&void 0!==arguments[0]?arguments[0]:{};e(this,n);var a={appId:"ie-buster-app",parentSelector:"body",mainText:"ご利用のインターネットブラウザは推奨環境ではありません。Webサイトの動作が保証できませんので、最新の Google Chrome をご利用ください。",linkText:"ダウンロードページへ",linkUrl:"https://www.google.com/chrome/",linkNewTab:!0,appStyles:{position:"fixed",top:"0",left:"0",width:"100%",padding:"16px",boxSizing:"border-box",zIndex:"999999"},cardStyles:{display:"flex",alignItems:"center",width:"100%",maxWidth:"886px",margin:"0 auto",padding:"16px",background:"#fff",boxShadow:"0px 0px 5px 0px rgba(0, 0, 0, 0.4)",boxSizing:"border-box",fontFamily:"SegoeUI, Meiryo, sans-serif"},textStyles:{flex:"1 0 0%",maxWidth:"100%",margin:"0",color:"#000",fontSize:"14px",fontWeight:"400",lineHeight:"1.5"},linkStyles:{flex:"none",display:"flex",margin:"0 0 0 16px",padding:"12px 24px",background:"#0078d4",boxSizing:"border-box",color:"#fff",fontSize:"12px",fontWeight:"400",lineHeight:"1",textAlign:"center",textDecoration:"none",whiteSpace:"nowrap"}};r(this,a,i);var l=["appStyles","cardStyles","textStyles","linkStyles"],c=function(e){e.map((function(e){return i[e]&&(t[e]=o(o({},a[e]),i[e]))}))};c(l)}var i,a,l;return i=n,(a=[{key:"createBuster",value:function(){var e=document.querySelector(this.parentSelector),t=document.createElement("div"),n=document.createElement("div"),r=document.createElement("p"),i=document.createElement("a"),o=!!this.linkUrl.indexOf("microsoft-edge")&&this.linkNewTab;t.id=this.appId,t.setAttribute(c,""),p(t,this.appStyles),p(n,this.cardStyles),p(r,this.textStyles),p(i,this.linkStyles),r.innerText=this.mainText,i.innerText=this.linkText,i.href=encodeURI(this.linkUrl),o&&i.setAttribute("target","_blank"),o&&i.setAttribute("rel","noopener noreferrer"),n.appendChild(r),n.appendChild(i),t.appendChild(n),e.appendChild(t)}},{key:"clearBuster",value:function(){var e=document.querySelectorAll("[".concat(c,"]"));e&&Array.prototype.forEach.call(e,(function(e){e.parentNode.removeChild(e)}))}}])&&t(i.prototype,a),l&&t(i,l),n}(),l=null,c="data-ie-buster",p=function(e,t){Object.keys(t).map((function(n){~t[n].indexOf("url(")||(e.style[n]=t[n])}))},{check:u=function(){if(window.MSInputMethodContext&&document.documentMode)return!0},clear:function(e){(l=new a(e)).clearBuster()},create:f=function(e){(l=new a(e)).clearBuster(),l.createBuster()},init:function(e){u()&&f(e)}}}));
      ieBuster.init({mainText:"ご利用のインターネットブラウザは非推奨です。\nWebサイトが動作しませんので、最新の Google Chrome をご利用ください。"});
    </script>

  </body>

</html>
